<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.Stationery store</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="item in items" :key="item.name">
                {{ item.name }}の個数:
                <!-- v-model.lazyで@changeと同じ動き -->
                <input
                    type="number"
                    v-model="item.quantity"
                    min="0"
                >
            </li>
        </ul>
        <hr>
        <!-- 1000円以上になるまで、赤く表示する -->
        <div :style="errorMessageStyle">
            <ul>
                <!-- 各商品の単価と購入個数をリスト表示する -->
                <li v-for="item in items" :key="item.name">
                    {{ item.name }} : {{ item.price }} x {{ item.quantity }} = {{ item.price * item.quantity | numberWithDelimiter }}円
                </li>
            </ul>
            <p>{{ items[0].name }} : {{ items[0].price }} x {{ items[0].quantity }}</p>
            <p>小計:{{ totalPrice | numberWithDelimiter }}</p>
            <p>合計(税込):{{ totalPriceWithTax | numberWithDelimiter }}円</p>
            <!-- 1000円以上になるまで、注意を表示する -->
            <p v-show="!canBuy">
                {{ 1000 | numberWithDelimiter }}円以上から、ご購入いただけます
            </p>
            <button @click="doBuy">購入</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="02_09app.js"></script>
</body>
</html>